{{- range .Values.instances }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "http-echo.fullname" $ }}-{{ .name }}
  namespace: {{ .namespace }}
  labels:
    {{- include "http-echo.instanceLabels" (dict "root" $ "instance" .) | nindent 4 }}
spec:
  type: {{ .service.type }}
  ports:
    - port: {{ .service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "http-echo.instanceSelectorLabels" (dict "root" $ "instance" .) | nindent 4 }}
{{- end }}
